@import "../variables";

.year-form {
  & > form {
    .form-inputs {
      margin-bottom: 3.2rem;
      @include flex-center;
      justify-content: flex-start;
      gap: 1.6rem;

      .label-input {
        @include flex-center;
        flex-direction: column;
        gap: 0.4rem;

        & > label {
          text-transform: uppercase;
          align-self: flex-start;
          font-size: 1.5rem;
          color: $color-font-gray;
          font-weight: 700;
          letter-spacing: 0.25rem;
        }

        & > input {
          max-width: 8.7rem;
          min-height: 5.4rem;
          border-radius: 0.8rem;
          border: 1px solid $color-border-gray;
          color: inherit;
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }

    .button-container {
      @include flex-center;
      position: relative;
      //background-color: gray;
      width: 100%;

      & > .submit-button {
        height: 6.4rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: transparent;
        background-color: $color-primary;
        background-image: url("../assets/images/icon-arrow.svg");
        background-size: 45%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        height: 0.1rem;
        background-color: $color-border-gray;
        z-index: 1;
      }
    }
  }
}
